# .gitignore

# 1. Файлы виртуального окружения
# Игнорируем папку с нашим виртуальным окружением, чтобы не загружать
# установленные библиотеки в репозиторий.
my_bot_env/
venv/
env/
.venv

# 2. Секреты
# САМОЕ ВАЖНОЕ: Никогда не загружайте файл с секретными данными в репозиторий!
.env

# 3. Кэш и скомпилированные файлы Python
# Эти файлы создаются автоматически и не должны быть в системе контроля версий.
__pycache__/
*.pyc
*.pyo
*.pyd

# 4. Файлы IDE и операционной системы
# Различный "мусор", который создают редакторы кода и ОС.
.vscode/
.idea/
*.DS_Store

# 5. Временный код
create_tables.py

